<%if current_user %>
  <p>Add a new space</p>
  <form action="/spaces" method="post">
    <input placeholder="Name of space" type="text" name="name" class="my_text_box" required/>
    <br>

    <div class="txtarea"><textarea rows = "10" placeholder ="Write about your space..." name="description" class="my_text_box" required></textarea></div>
        <br>
    <input placeholder="Price per night" type="text" name="price" class="my_text_box" id="last-one" required/>
        <br>
    Available from: <input type="date" name="available_from" class="my_date_box" required/>
    Available to: <input type="date" name="available_to" class="my_date_box" required/> <br>
    <input class="button" id="go_button" type="submit" value="Add space"/>
  </form>
<%else%>
  <p>Please login to create a space</p>
<%end%>
