<% if current_user %>
  <h1 style="margin-top:5px">Add a New Space</h1>
  <br><br>
  <div align="center">
    <form action="/spaces" method="post">
      <input placeholder="Name of space" type="text" name="name" class="my_text_box" required/>
      <br>
      <br>
      <div class="txtarea">
        <textarea rows = "10" placeholder ="Write about your space..." name="description" class="my_text_box" required></textarea>
      </div>
      <br>
      <label>£</label>
      <input placeholder="Price per night" type="number" name="price" class="my_text_box" id="last-one" required/>
      <br>
      <label>Available from:</label>
      <input type="date" name="available_from" class="my_date_box" required/>
      <label>Available to:</label>
      <input type="date" name="available_to" class="my_date_box" required/> <br>
      <input class="go_button" type="submit" value="Add space"/>
    </form>
  </div>
<% else %>
  <p>Please login to create a space</p>
<% end %>
