<%if current_user %>
  <p>Add a new space</p>
  <div class="tiny_space"></div>
  <form action="/spaces" method="post">
    <input placeholder="Name of space" type="text" name="name"/>
    <textarea placeholder ="Write about your space..." name="description"></textarea>
    <input placeholder="Price per night" type="text" name="price"/>
    <div class="tiny_space"></div>
    <input class="button" type="submit" value="Add space"/>
  </form>
<%else%>
  <p>Please login to create a space</p>
<%end%>
