
Detail view
<%=@space.name%>
<form action="/bookings/new" method="post">
  <input id="date" type="date" name="date" class="unstyled" required/>

  <script>
    date.addEventListener('keydown', function(event) {
      if (event.keyIdentifier == "Down") {
        event.preventDefault()
      }
    }, false);

    <%disable_dates = ["2016-05-19", "2016-05-21"]%>; // for testing
    var array = <%=disable_dates%>;  // for testing
    console.log(array);  // for testing

    $("#date").datepicker({
      beforeShowDay: function(date) {
        var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
        return [ array.indexOf(string) == -1 ]
      },
      dateFormat: 'yy-mm-dd',
      minDate:0, maxDate: 40,
      onSelect: function(date) {
        selectedDate = date;
      }
      });

  </script>

  <input id="space" type="hidden" value="<%=@space.id%>" name="space"/>
  <input id="request" class="button" type="submit" value="Request to book"/>




</form>
