body {
    background-color: #E15D44;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    color: white;
    text-align: center;
}

.button {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #E15D44;
  font-size: 20px;
  box-shadow: none;
  text-shadow:none;
  border:none;
}

.link {
  color: #FFFFFF;
  font-size: 15px;
  box-shadow: none;
  text-shadow:none;
  border:none;
}

.link_no_dec {
  color: #FFFFFF;
  font-size: 15px;
  box-shadow: none;
  text-shadow:none;
  border:none;
  text-decoration: none;
}

.peep {
  background-color: #FFFFFF;
  color: #E15D44;
  font-size: 20px;
}

p {
  font-size : 30px;
}

p.time {
  font-size : 10px;
}

p.username {
  font-size : 20px;
}


.space {
  display: block;
  visibility: hidden;
  height:100px;
}

.mini_space {
  display: block;
  visibility: hidden;
  height:50px;
}

.tiny_space {
  display: block;
  visibility: hidden;
  height:5px;
}

input {
  outline: none;
  text-align: center;
}




































































































































































































































































































































#div2 {
    white-space: nowrap;
    width: 53em;
    overflow: hidden;
    text-overflow: ellipsis;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}

.my_text_box {
  width: 500px;
  margin-top: 10px;
 }

.my_date_box {
  width: 130px;
  margin-top: 10px;
  margin-right: 10px;
 }

#last-one {
  margin-bottom: 20px;
}

.txtarea {
  text-align: center;
}

::-webkit-input-placeholder {
   text-align: center;
   line-height:140px;
}




































































































.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}


/* .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/



/***FIRST STYLE THE BUTTON***/
input#go_button{
  margin-top: 20px;
  align-content: center;
  cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
  padding:5px 25px; /*add some padding to the inside of the button*/
  background:#35b128; /*the colour of the button*/
  border:1px solid #33842a; /*required or the default border for the browser will appear*/
  /*give the button curved corners, alter the size as required*/
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /*give the button a drop shadow*/
  -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
  -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
  box-shadow: 0 0 4px rgba(0,0,0, .75);
  /*style the text*/
  color:#f3f3f3;
  font-size:1.1em;
}
/***NOW STYLE THE BUTTON'S HOVER AND FOCUS STATES***/
input#go_button:hover, input#gobutton:focus{
  background-color :#399630; /*make the background a little darker*/
  /*reduce the drop shadow size to give a pushed button effect*/
  -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
  -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
  box-shadow: 0 0 1px rgba(0,0,0, .75);
}

