
<div class="testbox">
  <h1 class="head1">Registration</h1>

  <form action="/users" method="post">
  <hr>
  <hr>
  <label id="icon" for="name"><i class="icon-user"></i></label>
  <input type="text" name="name" placeholder="Name" required/>

  <label id="icon" for="name"><i class="icon-user"></i></label>
  <input type="text" name="username" placeholder="Username" required/>

  <label id="icon" for="name"><i class="icon-envelope "></i></label>
  <input placeholder ="Email" type="email" name="email" required/>

  <label id="icon" for="name"><i class="icon-shield"></i></label>
  <input type="password" name="password" placeholder="Password" required/>

  <label id="icon" for="name"><i class="icon-shield"></i></label>
  <input type="password" name="password_confirmation" placeholder="Confirm Password" required/>

  <input class="go_button" type="submit" value="Sign up"/>

  </form>
</div>
