<h1 style="margin-top:5px">Reset Password</h1>
<br><br>
<div align="center">
  <p>Please enter your email to reset password</p>
  <form action="/users/password" method="post">
    <input placeholder="Email" type="email" name="email">
    <div class="mini_space"></div>
    <input class="go_button" type="submit" value="Reset">
  </form>
</div>
