<div class="testbox-login">
  <p>Please enter your email to reset password</p>
  <form action="/users/password" method="post">
    <input placeholder="Email" type="email" name="email">
    <input class="button" id="go_button" type="submit" value="Reset">
  </form>
</div>
