<%if flash[:errors]%>
  <% flash[:errors].each do |error|%>
    <p class="errors"><%=error%></p>
  <%end%>
<%end%>

<%if flash[:password]%>
  <% flash[:password].each do |password|%>
    <p class="errors"><%=password%></p>
  <%end%>
<%end%>
