<div style="text-align:center">
  <div style="float:left; text-align:left">
    <a class="link_no_dec" href="/spaces">Home</a>
    <br>
    <%if current_user %>
      <span>Hello <%=current_user.name%>!</span>
    <%end%>
    <br>
  </div>
  <div style="float:right">
    <%if current_user %>
      <a class="link_no_dec" href="/spaces">Spaces |</a>
      <a class="link_no_dec" href="/sessions/logout">Logout |</a>
      <a class="link_no_dec" href="/bookings">Bookings |</a>
    <%else%>
      <a class="link_no_dec" href="/sessions/new">Login</a>
    <%end%>
  </div>
</div>
